In [209]:
#Reading file
import pandas as pd
data =pd.read_csv(r'C:\Users\papaainoo\Documents\Data Analyst Projects\Adult Data\adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [210]:
data['DataFrame Column']=data['age'].astype(int)

In [211]:
#finding shape of data
data.shape

(32561, 16)

In [212]:
# Counting race by index
race_count = data['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [213]:
#finding the average age of men
average_age_men = data.loc[data['sex']== 'Male','age'].mean()
print(f"The average age of men is {(data.loc[data['sex']== 'Male','age'].mean())}")

The average age of men is 39.43354749885268

In [214]:
print(f"The average age of men is {(data.loc[data['sex']== 'Male','age'].mean())}")

The average age of men is 39.43354749885268

In [215]:
#Total count of those with Bachelors
data.education.value_counts().Bachelors

5355

In [216]:
data.groupby('education').count()

,age,workclass,fnlwgt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,DataFrame Column
education,,,,,,,,,,,,,,,
10th,933,933,933,933,933,933,933,933,933,933,933,933,933,933,933
11th,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175,1175
12th,433,433,433,433,433,433,433,433,433,433,433,433,433,433,433
1st-4th,168,168,168,168,168,168,168,168,168,168,168,168,168,168,168
5th-6th,333,333,333,333,333,333,333,333,333,333,333,333,333,333,333
7th-8th,646,646,646,646,646,646,646,646,646,646,646,646,646,646,646
9th,514,514,514,514,514,514,514,514,514,514,514,514,514,514,514
Assoc-acdm,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067,1067
Assoc-voc,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382,1382
Bachelors,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355,5355
Doctorate,413,413,413,413,413,413,413,413,413,413,413,413,413,413,413
HS-grad,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501,10501
Masters,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723
Preschool,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51
Prof-school,576,576,576,576,576,576,576,576,576,576,576,576,576,576,576
Some-college,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291,7291

In [218]:
# Total with education
Total_education = data['education'].count()
print(Total_education)

32561

In [237]:
data.shape[0]

32561

In [238]:
# Percentage with bachelors degree
percentage_of_bachelors = (data.education.value_counts().Bachelors/data.shape[0])*100
percentage_of_bachelors

16.44605509658794

In [239]:
#Total number with higher education and making >50K
higher_education_makingmore = data.loc[data['education'].str.contains('Bachelors') | data['education'].str.contains('Masters') | data['education'].str.contains('Doctorate') , ['education', 'salary']].loc[data['salary']=='>50K' , 'education'].count()
print(higher_education_makingmore)

3486

In [240]:
higher_education_makingmore

3486

In [241]:
#Number of persons with higher education
higher_education = data.education.value_counts().Bachelors| data.education.value_counts().Masters| data.education.value_counts().Doctorate

In [242]:
# Percentage with more than 50K salary and a highe education
higher_education_rich = (higher_education_makingmore/higher_education) * 100
print(higher_education_rich)

56.74751749959304

In [243]:
#Total number with lower education and making >50K
lower_education_makingmore = data.loc[data['salary']=='>50K','education'].count()-data.loc[data['education'].str.contains('Bachelors') | data['education'].str.contains('Masters') | data['education'].str.contains('Doctorate') , ['education', 'salary']].loc[data['salary']=='>50K' , 'education'].count()
print(lower_education_makingmore)

4355

In [244]:
lower_education_makingmore

4355

In [245]:
##Number of persons with lower education
lower_education = Total_education -higher_education
print(lower_education)

26418

In [246]:
#percentage of lower education making more than 50K salary
lower_education_rich = (lower_education_makingmore/ lower_education) * 100

In [247]:
# Finding the minimum work hours for a week
min_work_hours = data['hours-per-week'].min()
print(min_work_hours)

1

In [255]:
#Total number of persons working min hours and salary >50K
min_hours_and_rich=data.loc[(data['hours-per-week']==data['hours-per-week'].min()) & (data['salary']=='>50K'),'education'].count()
print(min_hours_and_rich)

2

In [256]:
#Total number of persons working min hours and salary <=50K
min_hours_and_poor=data.loc[(data['hours-per-week']==data['hours-per-week'].min()) & (data['salary']=='<=50K'),'education'].count()
print(min_hours_and_poor)

18

In [257]:
# Total for min hours
num_min_workers=data[data['hours-per-week'] == min_work_hours].shape[0]
print(num_min_workers)

20

In [258]:
#Rich percentage of minimum work hours making >50K
rich_percentage = (min_hours_and_rich/num_min_workers)*100
print(rich_percentage)

10.0

In [259]:
#Highest earning country
highest_earning_country = data.loc[data['salary']=='>50K','native-country'].value_counts().index.tolist()[0]
print(highest_earning_country)

United-States

In [260]:
# Highest earning country percentage
highest_earning_country_percentage = data.loc[data['salary']=='>50K','native-country'].value_counts()[0]/data.loc[data['salary']=='>50K','native-country'].count()*100
print(highest_earning_country_percentage)

91.45517153424308

In [254]:
# most popular occupation in India making>50K
top_IN_occupation = data.loc[(data['salary']=='<=50K') & (data['native-country']=='India'),'occupation'].value_counts().index.tolist()[0]
print(top_IN_occupation)

Prof-specialty